<form action='/names' method='post'>
  <input type='text' id='player_1_name' name='player_1_name'>
  <input type='text' id='player_2_name' name='player_2_name'>
  <button type='submit'>Submit</button>
</form>
